[package]
name = "graphql-db"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true

[features]
test-utils = []

[dependencies]
salsa = { workspace = true }
