---
import { gql } from "graphql-tag";

const GET_USERS = gql`
  query GetUsers {
    users {
      id
      name
      email
    }
  }
`;

const response = await fetch("/graphql", {
  method: "POST",
  body: JSON.stringify({ query: GET_USERS }),
});
const { data } = await response.json();
const users = data?.users ?? [];
---

<html>
  <head><title>Users</title></head>
  <body>
    <h1>Users</h1>
    <ul>
      {users.map((user: any) => (
        <li>{user.name} - {user.email}</li>
      ))}
    </ul>
  </body>
</html>
